version: "3"

services:
  mariadb:
    container_name: qa-mariadb-10.1
    environment:
      #MYQSL_PASSWORD: root
      #MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
    image: "mariadb:10.1"
    networks:
      - web
    ports:
      - "3307:3306"
    restart: always
    volumes:
      - "./db_data/mariadb-10.1:/var/lib/mysql"

  mysql:
    container_name: qa-mysql-5.7
    environment:
      #MYQSL_PASSWORD: root
      #MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
    image: "mysql:5.7"
    networks:
      - web
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - "./db_data/mysql-5.7:/var/lib/mysql"

  phpmyadmin:
    container_name: qa-phpmyadmin
    environment:
      - PMA_ARBITRARY=1
    image: "phpmyadmin/phpmyadmin:latest"
    networks:
      - web
    ports:
      - "8100:80"
    restart: always

  php71:
    build:
      dockerfile: php-7.1.Dockerfile
      context: ./php/dockerfiles/
      args:
        - APP_UID=${APP_UID:-1000}
        - APP_GID=${APP_GID:-1000}
    container_name: qa-php-7.1
    restart: always
    volumes:
      - ./html/:/var/www/html
      - ./php/config/php71/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    ports:
      - 8071:80
    networks:
      - web

  php72:
    build:
      dockerfile: php-7.2.Dockerfile
      context: ./php/dockerfiles/
      args:
        - APP_UID=${APP_UID:-1000}
        - APP_GID=${APP_GID:-1000}
    container_name: qa-php-7.2
    restart: always
    volumes:
      - ./html/:/var/www/html
      - ./php/config/php72/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    ports:
      - 8072:80
    networks:
      - web

  php73:
    build:
      dockerfile: php-7.3.Dockerfile
      context: ./php/dockerfiles/
      args:
        - APP_UID=${APP_UID:-1000}
        - APP_GID=${APP_GID:-1000}
    container_name: qa-php-7.3
    restart: always
    volumes:
      - ./html/:/var/www/html
      - ./php/config/php73/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    ports:
      - 8073:80
    networks:
      - web

  php74:
    build:
      dockerfile: php-7.4.Dockerfile
      context: ./php/dockerfiles/
      args:
        - APP_UID=${APP_UID:-1000}
        - APP_GID=${APP_GID:-1000}
    container_name: qa-php-7.4
    restart: always
    volumes:
      - ./html/:/var/www/html
      - ./php/config/php74/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    ports:
      - 8074:80
    networks:
      - web

networks:
  web:
    external: true
